<nav class="navbar">
  <ul class="nav-links">
    
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('bpinput.kth') }}">Kentry</a></li>
    <li><a href="{{ url_for('bpinput.kshow') }}">KView</a></li>
    <li><a href="{{ url_for('bpinput.entry') }}">Input</a></li>
    <li><a href="{{ url_for('bpinput.show') }}">View</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    {% else %}
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    {% endif %}
    

  </ul>
</nav> 