<nav class="navbar">
  <ul class="nav-links">
    
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('bpinput.kth') }}">Kaff</a></li>
    <li><a href="{{ url_for('bpinput.cshow') }}">KView</a></li>
    <li><a href="{{ url_for('bpinput.entry') }}">Notes</a></li>
    <li><a href="{{ url_for('bpinput.show') }}">NView</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    {% else %}
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    {% endif %}
    

  </ul>
</nav> 